@import '_stocklist';
@import '_graph';
@import '_spinkit_folding_cube.scss';

@font-face {
  font-family: 'Avenir-Next-Regular';
  src:  url('../fonts/avenir-next-regular.woff2') format('woff2'),
        url('../fonts/avenir-next-regular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Next-Medium';
  src:  url('../fonts/avenir-next-medium.woff2') format('woff2'),
        url('../fonts/avenir-next-medium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Next-Demibold';
  src:  url('../fonts/avenir-next-demibold.woff2') format('woff2'),
        url('../fonts/avenir-next-demibold.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Next-Bold';
  src:  url('../fonts/avenir-next-bold.woff2') format('woff2'),
        url('../fonts/avenir-next-bold.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Next-Ultralight';
  src:  url('../fonts/avenir-next-ultralight.woff2') format('woff2'),
        url('../fonts/avenir-next-ultralight.woff') format('woff');
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  font-family: 'Avenir-Next-Regular', Verdana, Geneva, sans-serif;

  .LoadingIcon {
    @extend .sk-folding-cube;
    width: 30px;
    height: 30px;
  }

  .container-left {
    width: 20%;
    min-width: 290px;
    height: 100%;
    background-color: $faded-purple;
  }

  .container-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
    background-color: $deep-purple;
  }
}
